<p><strong><%= @comment.user.email %>:</strong> <%= @comment.content %></p>
<p><%= link_to 'Editar', edit_article_comment_path(@article, @comment) %></p>
<p><%= link_to 'Eliminar', article_comment_path(@article, @comment), method: :delete, data: { confirm: '¿Estás seguro?' } %></p>
